<div style="text-align: center;"><img *ngIf="!loadingDone" src="assets/icons/loadingIcon.svg" alt="Loading"></div>
<div *ngIf="loadingDone" class="container-fluid Material">
  <div class="pt-5">
    <form [formGroup]="materialForm" (ngSubmit)="onCreateLabelPublished()" (keydown.enter)="$event.preventDefault()">

      <div class="shadow bg-light p-3 outerMaterial">
        <div class="row">
          <div class="col-md-4">

            <ngx-qrcode
              [ngClass]="{'is-hidden': !bitlyURL }"
              [elementType]="elementType"
              [errorCorrectionLevel]="correctionLevel"
              [value]="bitlyURL"
              cssClass="bshadow"></ngx-qrcode>

            <label class="label">
              {{ bitlyURL }}
            </label>

            <br/>

            <div class="form-row">
              <div class="col-md-12 col-lg-5 mb-2">
                <input class="form-control rounded-pill" type="text" placeholder="URL" formControlName="url"
                       [ngClass]="{'is-invalid': !materialForm.get('url').valid && materialForm.get('url').touched,
            'is-valid': materialForm.get('url').valid && materialForm.get('url').touched}"
                       [value]="materialForm.get('url').value"/>
              </div>
              <div class="col-md-12 col-lg-7">
                <button type="button" class="btn is-primary rounded-pill buttonMargin" (click)="generateQRCode()"><img
                  src="assets/icons/link-variant-plus.svg" height="16"> Add URL
                </button>
              </div>
            </div>

            <small class="block-help ml-2 smallTextError"
                   *ngIf="!materialForm.get('url').valid && materialForm.get('url').errors?.urlIsInvalid && materialForm.get('url').touched">
              &bull; Given URL is invalid
            </small>

            <a matTooltip="Please provide a URL linking to the main information source or reference you used to create this sample. URL has to start with http://" matTooltipPosition="after">
              <img src="assets/icons/information-outline.svg" height="18"/>
            </a>
          </div>

          <div class="col-md-4 text-center">
            <h1 class="h1 text-uppercase">{{ materialForm.get('title').value }}</h1>
            <input class="form-control rounded-pill" type="text" placeholder="Title" formControlName="title" maxlength="20"
                   [ngClass]="{'is-invalid': !materialForm.get('title').valid && materialForm.get('title').touched,
			              'is-valid': materialForm.get('title').valid && materialForm.get('title').touched}"/>
            <span *ngIf="materialForm.get('title').value" class="mt-1">[{{materialForm.get('title').value.length}}/20]</span>
            <span class="help-block smallTextError"
                  *ngIf="!materialForm.get('title').valid && materialForm.get('title').touched">&bull;
	            Please enter a title.
	          </span>

            <h2 class="mt-3 h2">
              Type:
              <a matTooltip="Tick one of these categories. Note: microbial includes fungi, algae and other micro organisms" matTooltipPosition="after">
                <img src="assets/icons/information-outline.svg" height="18"/>
              </a>
            </h2>
            <div class="form-check form-check-inline" *ngFor="let type of materialTypeValues; let i = index">
              <label class="form-check-label" for="{{ type }}">
                <input class="form-check-input" type="radio" formControlName="type" id="{{ type }}"
                       value="{{ materialTypeKeys[i]  }}">
                {{ type }}
                <span class="checkmark"></span>
              </label>
            </div>

            <span class="help-block smallTextError"
                  *ngIf="!materialForm.get('type').valid && materialForm.get('type').touched">
	            <br/>
	            &bull; Please select a type.
            </span>

            <h2 class="mt-3 h2">Eco compatibility tags:
              <a matTooltip="Tick all that apply, for definitions please refer to FAQ on the About page" matTooltipPosition="after">
                <img src="assets/icons/information-outline.svg" height="18"/>
              </a>
            </h2>

            <div class="tags-container">
              <span class="badge is-primary badge-pill ml-1" *ngFor="let tag of tags">{{ tag }}</span>
            </div>

            <div class="form-group mt-2">
              <div class="form-check form-check-inline" *ngFor="let tag of materialTagValues; let i = index">
                <label class="form-check-label" for="{{ tag }}">
                  <input class="form-check-input" id="{{ tag }}" type="checkbox" [value]="materialTagKeys[i]"
                         (change)="updateTags($event, materialTagKeys[i])"/>
                  {{ tag }}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="org-section float-right text-center">
              <img class="rounded org-logo" alt="Organisation logo" [src]="displayLogoPath"/>
              <div class="org-name-toggle" (click)="orgDropdownOpen = !orgDropdownOpen">
                <span class="org-name-label">{{ organisationName }}</span>
                <span class="org-dropdown-arrow">&#9662;</span>
              </div>
              <div class="org-dropdown" *ngIf="orgDropdownOpen">
                <div *ngFor="let org of organisations" class="org-option" (click)="onOrgSelected(org)">
                  <img *ngIf="org.logoPath" [src]="org.logoPath" class="org-option-logo" alt=""/>
                  <span>{{ org.organisation }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row mt-4">
          <div class="col-md-6">

            <h2 class="h2">INGREDIENTS: [{{materialIngredients.length}}/{{maximumIngredients}}]
              <a
                matTooltip="For each ingredient (gr/ml) you have to add a new line by clicking on the + symbol."
                matTooltipPosition="after">
                <img src="assets/icons/information-outline.svg" height="18"/>
              </a>
            </h2>

            <div class="form-row">
              <div class="col-md-12 mt-2 col-sm-3 col-lg-3">
                <input class="form-control rounded-pill" formControlName="ingredient" type="text" value="" maxlength="20"
                       placeholder="Name"
                       [ngClass]="{'is-invalid': !materialForm.get('ingredient').valid && materialForm.get('ingredient').touched,
			                  'is-valid': materialForm.get('ingredient').valid && materialForm.get('ingredient').touched}"/>
              </div>

              <div class="col-md-12 mt-2 col-sm-3 col-lg-3">
                <input class="form-control rounded-pill" formControlName="amount" type="number"
                       placeholder="Amount" (keydown.enter)="addIngredient()"
                       [ngClass]="{'is-invalid': !materialForm.get('amount').valid && materialForm.get('amount').touched,
			                  'is-valid': materialForm.get('amount').valid && materialForm.get('amount').touched}"/>
              </div>

              <div class="col-md-12 mt-2 col-sm-3 col-lg-2">
                <select class="form-control rounded-pill" formControlName="ingredientUnit">
                  <option value="gr">gr</option>
                  <option value="ml">ml</option>
                </select>
              </div>

              <div class="col-md-3 mt-2">
                <button class="btn is-primary rounded-circle roundedBtn" (click)="addIngredient()" type="button"
                        [disabled]="materialIngredients.length >= maximumIngredients">
                  <img src="assets/icons/plus.svg" height="20"/>
                </button>
              </div>
            </div>

            <small class="help-block smallTextError"
                   *ngIf="!materialForm.get('amount').valid && materialForm.get('amount').touched">
              &bull; Please insert a valid numeric value. <br/>
            </small>

            <small class="help-block smallTextError"
                   *ngIf="!materialForm.get('ingredient').valid && materialForm.get('ingredient').touched">
              &bull; Please add at least one ingredient which was used. <br/>
            </small>

            <small class="help-block smallTextError"
                   *ngIf="materialIngredients.length >= maximumIngredients && materialForm.get('ingredient').touched">
              &bull; The label can only contain a maximum of {{ maximumIngredients }} ingredients <br/>
            </small>

            <div class="ingredient-container mt-3">
              <ul>
                <li *ngFor="let mi of materialIngredients" class="mb-1">
                  {{ mi.getIngredient().getName() }} {{ mi.getAmount() }} {{ mi.getIngredient().getType() || 'gr' }}
                  <button class="btn btn-sm rounded-circle ml-1 smallBtnRound" type="button"
                          (click)="removeFromMaterialIngredients(mi.getIngredient())">
                    <img class="removeBtn" src="assets/icons/close.svg" height="18"/>
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">

            <h2 class="h2">
              MAKING PROCEDURE: [{{steps.length}}/{{maximumSteps}}]
              <a matTooltip="For each step you have to add a new line by clicking on the + symbol"
                 matTooltipPosition="after">
                <img src="assets/icons/information-outline.svg" height="18"/>
              </a>
            </h2>

            <div class="form-row">
              <div class="col-md-12 mt-2 col-lg-6">
                <input class="form-control rounded-pill" type="text" formControlName="step" placeholder="Step" maxlength="55"
                       [ngClass]="{'is-invalid': !materialForm.get('step').valid && materialForm.get('step').touched,
			                  'is-valid': materialForm.get('step').valid && materialForm.get('step').touched}" (keydown.enter)="addStep()"/>
                <span *ngIf="materialForm.get('step').value" class="m-2">[{{materialForm.get('step').value.length}}/55]</span>
              </div>
              <div class="col-md-12 mt-2 col-lg-6">
                <button type="button" class="btn is-primary rounded-circle roundedBtn" (click)="addStep()" id="add-step-btn"
                        [disabled]="steps.length >= maximumSteps">
                  <img src="assets/icons/plus.svg" height="20"/>
                </button>
              </div>
            </div>

            <small class="help-block smallTextError"
                   *ngIf="!materialForm.get('step').valid && materialForm.get('step').touched">
              &bull; Please add the step for the procedure of making the material.
            </small>

            <small class="help-block smallTextError"
                   *ngIf="materialForm.get('step').touched && steps.length >= maximumSteps && materialForm.get('step').value != ''">
              &bull; Making procedure can only contain a maximum of {{ maximumSteps }} steps
            </small>

            <div class="procedure-container mt-2">
              <ul>
                <li *ngFor="let stepItem of steps" class="mb-1">
                  {{ stepItem }}
                  <button class="btn btn-sm rounded-circle ml-1 smallBtnRound"
                          (click)="removeFromList(stepItem)" type="button">
                    <img class="removeBtn" src="assets/icons/close.svg" height="18"/>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <h2 class="h2">POST PROCESSING:
              <a matTooltip="Select all post-processing methods that apply" matTooltipPosition="after">
                <img src="assets/icons/information-outline.svg" height="18"/>
              </a>
            </h2>
            <div class="form-group mt-2">
              <div class="form-check form-check-inline" *ngFor="let ppTag of postProcessingTagValues">
                <label class="form-check-label" for="pp_{{ ppTag }}">
                  <input class="form-check-input" id="pp_{{ ppTag }}" type="checkbox" [value]="ppTag"
                         (change)="updatePostProcessingTags($event, ppTag)"/>
                  {{ ppTag }}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-9">
            <a matTooltip="Please give credit to the recipe source by mentioning it here. Describe your alterations."
               matTooltipPosition="after">
              <img src="assets/icons/information-outline.svg" height="18"/>
            </a>
            <h2 class="h2">
              <div class="form-check outside-form">

                Please give credit to the recipe source by mentioning it here. Describe your alterations.
              </div>
            </h2>

            <div class="form-row mb-2" [ngClass]="{'is-hidden': materialForm.get('variationOn').value}">
              <div class="col-md-12 col-lg-3 mb-2">
                <input class="form-control rounded-pill" type="text" value="" placeholder="Author" formControlName="referenceAuthor" maxlength="15"
                       [ngClass]="{'is-invalid': !materialForm.get('referenceAuthor').valid && materialForm.get('referenceAuthor').touched,
                          'is-valid': materialForm.get('referenceAuthor').valid && materialForm.get('referenceAuthor').touched}"/>
              </div>

              <div class="col-md-12 col-lg-3 mb-2">
                <input class="form-control rounded-pill" type="email" placeholder="Email (optional)" formControlName="referenceEmail"
                       [ngClass]="{'is-invalid': !materialForm.get('referenceEmail').valid && materialForm.get('referenceEmail').touched,
                          'is-valid': materialForm.get('referenceEmail').valid && materialForm.get('referenceEmail').touched}"/>
              </div>

              <div class="col-md-12 col-lg-3 mb-2">
                <input class="form-control rounded-pill" type="text" placeholder="Title" formControlName="referenceTitle" maxlength="20"
                       [ngClass]="{'is-invalid': !materialForm.get('referenceTitle').valid && materialForm.get('referenceTitle').touched,
                          'is-valid': materialForm.get('referenceTitle').valid && materialForm.get('referenceTitle').touched}"/>
              </div>

              <div class="col-md-12 col-lg-3">
                <input class="form-control rounded-pill" type="text" placeholder="Year" formControlName="referenceYear"
                       [ngClass]="{'is-invalid': !materialForm.get('referenceYear').valid && materialForm.get('referenceYear').touched,
                          'is-valid': materialForm.get('referenceYear').valid && materialForm.get('referenceYear').touched}"/>
              </div>

            </div>
            <small class="small ml-2 smallTextError" *ngIf="!materialForm.get('referenceEmail').valid && materialForm.get('referenceEmail').touched">
              &bull; Please enter a valid email address.
              <br>
            </small>
            <small class="small ml-2 smallTextError" *ngIf="!materialForm.get('referenceAuthor').valid && materialForm.get('referenceAuthor').touched">
              &bull; Please enter the name of the author.
              <br>
            </small>
            <small class="small ml-2 smallTextError" *ngIf="!materialForm.get('referenceTitle').valid && materialForm.get('referenceTitle').touched">
              &bull; Please enter the title of the source.
              <br>
            </small>
            <small class="small ml-2 smallTextError" *ngIf="!materialForm.get('referenceYear').valid && materialForm.get('referenceYear').touched">
              &bull; Please enter the year the source was published.
            </small>

            <div class="form-row" [ngClass]="{'is-hidden': !materialForm.get('variationOn').value}">

              <div class="col-md-12 col-lg-6">
                <input class="form-control rounded-pill" type="text" placeholder="Sequence number"
                       [class.is-invalid]="searchFailed" formControlName="sequenceNumber"/>

                <a
                  matTooltip="When you fill in the Sequence Number (eg 85) you can click on search so it will be added to the Label"
                  matTooltipPosition="after">
                  <img class="bubble" src="assets/icons/information-outline.svg" height="18"/>
                </a>
              </div>

              <div class="col-md-12 col-lg-6">
                <button type="button" class="btn is-primary rounded-pill buttonMargin" id="sequence-number-search-btn"
                        (click)="onSequenceNumberSearch()">
                  <img height="18" src="assets/icons/magnify.svg">
                  Search
                </button>
              </div>

            </div>

            <label class="small ml-2 smallTextError " [ngClass]="{'is-hidden': !searchFailed}">
              &bull; Could not find the recipe based on the given sequence number
            </label>


            <p class="ml-2" [ngClass]="{'is-hidden': !materialForm.get('variationOn').value}">
              {{ recipeTitle }}
              <br/>
              {{ recipeAuthor }}
            </p>

            <div class="form-group">
              <textarea class="form-control textareaBox" cols="30" rows="10" maxlength="80"
                        formControlName="changes"
                        [ngClass]="{'is-invalid': !materialForm.get('changes').valid && materialForm.get('changes').touched,
                          'is-valid': materialForm.get('changes').valid && materialForm.get('changes').touched}"
                        placeholder="Describe your changes"></textarea>
              <span *ngIf="materialForm.get('changes').value" class="ml-2">[{{materialForm.get('changes').value.length}}/80]</span>
              <small class="help-block smallTextError"
                     *ngIf="!materialForm.get('changes').valid && materialForm.get('changes').touched">
                &bull; Please describe the changes you have made.
              </small>
            </div>
          </div>

          <div class="col-md-3"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4>Overview image:</h4>
            <app-file-upload #overviewImg></app-file-upload>
            <h4>Close up image:</h4>
            <app-file-upload #closeUpImg></app-file-upload>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-12 text-center">
            <p>Maker: {{ user?.getFirstname() + " " + user?.getLastname()}} - {{creationDate | date:'dd-MM-yyyy'}}
              - {{ user?.getEmail() }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center mt-4 mb-4">

          <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert" *ngIf="creationFailed">
            <strong>Something went wrong!</strong> You should check in on some of those fields above.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="creationFailed=false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert" *ngIf="fileError">
            <strong>Something went wrong!</strong> {{this.overviewFileUpload.getErrorMessage() || this.closeUpFileUpload.getErrorMessage()}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="creationFailed=false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="buttonsCreateLabel">
          <button routerLink="/home" class="btn is-primary form-control cancelButton">
            <img height="18" src="assets/icons/close.svg">
            Cancel
          </button>
            <div class="saveButtonFlex">
              <button type="button" class="btn is-primary form-control pdfBtnMat" (click)="generatePdf()">
                <img height="18" src="assets/icons/content-save.svg">
                Save as PDF label
              </button>
              <select class="custom-select selectBox ml-0" (change)="onSelectFormat($event.target.value)">
                <option value="a4" default>A4</option>
                <option value="a5">A5</option>
                <option value="a6">A6</option>
              </select>
            </div>
            <button [disabled]="onSubmitDisable" class="btn is-primary form-control submitBtn ml-2" id="save-btn" type="submit">
              <img height="18" src="assets/icons/content-save.svg">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="popupPublish" class="popupUser">
  <div class="userEditPopup">
    <div *ngIf="authService.isAdmin()" style="text-align: center;"><h1>Are you sure to publish this label?</h1></div>
    <div *ngIf="authService.isAdmin()" style="text-align: center; font-size: 18px"><p>After publishing you <u>can't</u> edit this label!</p></div>
    <div *ngIf="!authService.isAdmin()" style="text-align: center;"><h1>Submit this label for approval?</h1></div>
    <div *ngIf="!authService.isAdmin()" style="text-align: center; font-size: 18px"><p>An admin will review your label before it is published.</p></div>
    <div class="popupUserButtons">
      <button type="button" class="btn btn-primary form-control popupUserBtn" (click)="closePopup()"><img
        height="18" src="assets/icons/close.svg" alt="Cancel"> Cancel
      </button>
      <button type="submit" class="btn btn-primary form-control popupUserBtn" (click)="onSubmit()"><img
        height="18" src="assets/icons/content-save-outline.svg" alt="Publish"> Publish
      </button>
    </div>
  </div>
</div>

<!-- Hidden PDF Label Template -->
<div class="sammie" id="pdfLabelForm">
  <div class="container-fluid MaterialPDF">
    <div class="pt-5">
      <div class="shadow bg-light p-3 outerMaterialPDF"
           [style.background]="labelTemplate?.backgroundColor || 'white'"
           [style.fontFamily]="labelTemplate?.fontFamily || 'Calibri Light, Roboto Light, sans-serif'"
           [style.border]="labelTemplate && labelTemplate.borderStyle !== 'none' ? ('2px ' + labelTemplate.borderStyle + ' ' + labelTemplate.borderColor) : null">

        <!-- Header Text (from template) -->
        <div *ngIf="labelTemplate?.headerText" class="text-center"
             [style.color]="labelTemplate?.primaryColor"
             style="letter-spacing: 3px; font-size: 12pt; font-weight: 600; margin-top: 10px;">
          {{ labelTemplate.headerText }}
        </div>

        <!-- Top Title (flipped) — hidden for minimal layout -->
        <div class="text-center flippedTitle" *ngIf="labelTemplate?.layoutVariant !== 'minimal'">
          <h1 class="text-uppercase name"
              [style.color]="labelTemplate?.primaryColor || 'black'"
              [style.fontSize]="labelTemplate?.titleFontSize || '27pt'">{{ materialForm.get('title').value || 'Untitled' }}</h1>
          <h3 class="type" [style.color]="labelTemplate?.secondaryColor || '#333'">{{ materialType[materialForm.get('type').value] }}</h3>
          <h3 class="Snumber" [style.color]="labelTemplate?.secondaryColor || '#333'">DRAFT</h3>
        </div>

        <!-- border -->
        <div class="borderTop" [style.borderColor]="labelTemplate && labelTemplate.borderStyle !== 'none' ? labelTemplate.borderColor : null"></div>
        <div class="borderCenter" [style.borderColor]="labelTemplate && labelTemplate.borderStyle !== 'none' ? labelTemplate.borderColor : null"></div>

        <!-- PDF Body -->
        <div class="pdfText">
          <div class="row" [class.flex-row-reverse]="labelTemplate?.logoPosition === 'left'">
            <div class="col-md-4" *ngIf="labelTemplate?.showQrCode !== false">
              <ngx-qrcode
                [ngClass]="{'is-hidden': !bitlyURL }"
                [elementType]="elementType"
                [errorCorrectionLevel]="correctionLevel"
                [value]="bitlyURL"
                cssClass="bshadow"></ngx-qrcode>
              <label class="label m-2">{{ bitlyURL }}</label>
            </div>

            <div class="text-center" [class.col-md-4]="labelTemplate?.showQrCode !== false"
                 [class.col-md-6]="labelTemplate?.showQrCode === false">
              <h1 class="nameTitle text-uppercase"
                  [style.color]="labelTemplate?.primaryColor || 'black'"
                  [style.fontSize]="labelTemplate?.titleFontSize || '27pt'">{{ materialForm.get('title').value || 'Untitled' }}</h1>
              <h3 class="type" [style.color]="labelTemplate?.secondaryColor || '#333'">{{ materialType[materialForm.get('type').value] }}</h3>
              <h3 class="Snumber" [style.color]="labelTemplate?.secondaryColor || '#333'">DRAFT</h3>
              <div class="tags-container2">
                <span class="tag ml-1" *ngFor="let tag of tags"
                      [style.color]="labelTemplate?.secondaryColor || '#333'">| {{ tag }}</span>
              </div>
            </div>

            <div class="col-md-4 text-right">
              <img class="rounded" style="width: 10rem;" alt="" [src]="displayLogoPath"/>
              <div *ngIf="organisationName" class="org-name-pdf mt-1">{{ organisationName }}</div>
            </div>
          </div>

          <hr [style.borderColor]="labelTemplate && labelTemplate.borderStyle !== 'none' ? labelTemplate.borderColor : null"
              [style.borderStyle]="labelTemplate && labelTemplate.borderStyle !== 'none' ? labelTemplate.borderStyle : null"/>

          <div class="pdfInfo">
            <div class="stepsIngredients">
              <div class="IngredientsDiv">
                <h1 class="title"
                    [style.color]="labelTemplate?.primaryColor || 'black'">INGREDIENTS:</h1>
                <div class="ingredient-container mt-3">
                  <ul>
                    <li *ngFor="let mi of materialIngredients" class="mb-1 info ingredient"
                        [style.color]="labelTemplate?.secondaryColor || 'black'"
                        [style.fontSize]="labelTemplate?.bodyFontSize || '17pt'">
                      {{ mi.getIngredient().getName() }} {{ mi.getAmount() }} {{ mi.getIngredient().getType() || 'gr' }}
                    </li>
                  </ul>
                </div>

                <div class="changes mt-4">
                  <h1 class="title"
                      [style.color]="labelTemplate?.primaryColor || 'black'">REFERENCE & CHANGES:</h1>
                  <div class="row">
                    <p class="info changeWho" *ngIf="!materialForm.get('variationOn').value"
                       [style.color]="labelTemplate?.secondaryColor || 'black'"
                       [style.fontSize]="labelTemplate?.bodyFontSize || '17pt'">
                      By {{ materialForm.get('referenceAuthor').value }} - {{ materialForm.get('referenceTitle').value }} - {{ materialForm.get('referenceYear').value }}
                    </p>
                    <p class="info changeWho" *ngIf="materialForm.get('variationOn').value"
                       [style.color]="labelTemplate?.secondaryColor || 'black'"
                       [style.fontSize]="labelTemplate?.bodyFontSize || '17pt'">
                      {{ recipeTitle }} {{ recipeAuthor }}
                    </p>
                    <p class="info word-break changesTekst"
                       [style.color]="labelTemplate?.secondaryColor || 'black'"
                       [style.fontSize]="labelTemplate?.bodyFontSize || '17pt'">
                      {{ materialForm.get('changes').value }}
                    </p>
                  </div>
                </div>
              </div>

              <div class="ProcedureDiv" *ngIf="labelTemplate?.layoutVariant !== 'minimal'">
                <h1 class="title"
                    [style.color]="labelTemplate?.primaryColor || 'black'">MAKING PROCEDURE:</h1>
                <div class="procedure-container mt-2">
                  <ul>
                    <li *ngFor="let stepItem of steps" class="mb-1 info procedure word-break"
                        [style.color]="labelTemplate?.secondaryColor || 'black'"
                        [style.fontSize]="labelTemplate?.bodyFontSize || '17pt'">
                      {{ stepItem }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 text-center makerr">
          <hr class="marker markerBottom"/>
          <p class="maker" [style.color]="labelTemplate?.secondaryColor || 'black'">Maker: {{ user?.getFirstname() + " " + user?.getLastname() }}
            - {{ creationDate | date:'dd-MM-yyyy' }} - {{ user?.getEmail() }}
            <span *ngIf="materialForm.get('referenceEmail').value"> - {{ materialForm.get('referenceEmail').value }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
